.text-white
{
    color: white;
}

.text-black
{
    color: black;
}

#main_bar
{
    border:none;
    width: 90%;
    opacity: 100%;
    /* background-color: red; */
    height: 5px;
}

#play_btn, #customize_btn, #settings_btn, #credits_btn
{
    font-size: 40px;
    font-style: normal;
}

#create_game_btn, #join_game_btn, #ai_game_btn, #create_tournament_btn, #join_tournament_btn, #play_back_btn, #language_btn, #sound_volume_btn, #music_volume_btn, #text_size_btn, #image_desc_btn, #high_contrast_btn
{
    font-size: 35px;
    font-style: normal;
}

#play_back_btn, #settings_back_btn
{
    font-size: 35px;
    font-weight: bold;
}

#play_btn:hover, #customize_btn:hover, #settings_btn:hover, #credits_btn:hover, #create_game_btn:hover, #join_game_btn:hover, #ai_game_btn:hover, #create_tournament_btn:hover, #join_tournament_btn:hover, #play_back_btn:hover, #language_btn:hover, #sound_volume_btn:hover, #music_volume_btn:hover, #text_size_btn:hover, #image_desc_btn:hover, #high_contrast_btn:hover, #settings_back_btn:hover
{
    text-decoration: underline;
}